
.wowbook {
  color: #333;
}
.wowbook-page-content {
  background: white;
}
.wowbook-left .wowbook-gutter-shadow {
  background-image: url('../images/page_left_background.png');
  opacity: 0.5;
  width: 60px;
}
.wowbook-right .wowbook-gutter-shadow {
  background-image: url('../images/page_right_background.png');
  background-position: 0 0;
  width: 75px;
}

a,
a:active,
a:visited {
  text-decoration: none;
}


#draggableNav {
  height: 46px;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;

  zoom: 1;
}
#draggableNav a {
  display: block;
  height: 46px;
  width: 48px;
  padding: 0;
  background: #000000 no-repeat;
  background-position: 8px 7px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#draggableNav #zoomin {
  background-image: url(../images/icons/zoom_in.png);
}
#draggableNav #zoomout {
  background-image: url(../images/icons/zoom_out.png);
}
#draggableNav #first {
  background-image: url(../images/icons/arrow_double_left.png);
}
#draggableNav #last {
  background-image: url(../images/icons/arrow_double_right.png);
}
#draggableNav #next {
  background-image: url(../images/icons/arrow_right.png);
}
#draggableNav #back {
  background-image: url(../images/icons/arrow_left.png);
}
#draggableNav #slideshow {
  background-image: url(../images/icons/slideshow_play.png);
}
#draggableNav #slideshow.wowbook-disabled {
  background-image: url(../images/icons/slideshow_pause.png);
}
#draggableNav #flipsound {
  background-image: url(../images/icons/sound_on.png);
}
#draggableNav #flipsound.wowbook-disabled {
  background-image: url(../images/icons/sound_off.png);
}
#draggableNav #thumbs {
  background-image: url(../images/icons/thumbs.png);
}
#draggableNav #fullscreen {
  background-image: url(../images/icons/fullscreen_on.png);
}
#draggableNav #fullscreen.wowbook-disabled {
  background-image: url(../images/icons/fullscreen_off.png);
}
#draggableNav a:hover {
  background-color: #2C2C2C;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
}
#draggableNav a:active,
#draggableNav a:hover,
#draggableNav a {
  outline: none;
}
@media screen and (max-width: 568px), screen and (max-height: 380px) {
  #container25 {
    padding-top: 35px;
    padding-bottom: 5px;
  }
 #draggableNav {
    margin: auto;
    top: 0px;
  }
 #draggableNav li {
    height: 32px;
  }
 #draggableNav li a {
    background-size: 50% 50%;
    height: 32px;
    width: 32px;
  }
  html {
    -webkit-text-size-adjust: none;
  }
  #click_to_open {
    display: none;
  }
}
.wowbook-page-content {
  padding: 1em;
}
#main {
  position: relative;
}
#click_to_open {
  position: absolute;
  left: 25%;
  margin-left: -180px;
  top: 50%;
  margin-top: -50px;
}
.js #features {
  mmargin-left: -12000px;
}
.wowbook-page {
  mmargin: auto;
}
.wowbook-page h1 {
  
  font-size: 32px;
  color: white;
  background: #aa2b2b;
  line-height: 1.5;
  padding: 5px 5px 0px;
  margin: 0;
}
.wowbook-page .subtitle {

  font-size: 18px;
  color: black;
  line-height: 1.5;
  padding: 5px 5px 0px;
  font-style: italic;
}

.wowbook-page ul {
 
  font-size: 24px;
  margin-top: 0.5em;
}
.wowbook-page li {
  list-style: none;
}
#cover {
  background: #ffffff url("../images/cover.jpg") no-repeat;
  background-size: 100% 100%;
}
.feature {
  padding: 1em 1em;
 
  height: 500px;
  width: 400px;
  background: white;
}

.wowbook-page .feature.pagefx .subtitle {
  margin-top: 0;
  font-size: 18px;
}

.easy {
  background: #ffffff url("../images/easy.png") no-repeat left top;
  background-size: 200% 100%;
  zoom: 1;
  ffont-size: 1.5em;
  ffont-family: lato;
}

.wowbook-right .easy {
  background-position: right top;
}
.design {
  background: #ffffff url("../images/design.png") no-repeat;
  background-size: 200% 100%;
}

.design .subtitle {
  
  font-style: normal;
  font-size: 30px;
  color: #333;
  position: absolute;
  top: 27%;
}
.wowbook-right .design {
  background-position: right top;
}

#thumbs_holder {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  left: 0;
  z-index: 10000;
}
#thumbs_holder .wowbook-thumbnails {
  background: none repeat scroll 0 0 #222;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-top: 1px solid white;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid gray;
  border-bottom-color: rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 20px #aa2b2b;
  padding: 10px 0;
  position: relative;
}
#thumbs_holder .wowbook-button {
  background-color: #AA2B2B;
}
.wowbook-thumbnails {
  background: none repeat scroll 0 0 #888;
  background: none repeat scroll 0 0 rgba(128, 128, 128, 0.48);
  border-top: 1px solid white;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid gray;
  border-bottom-color: rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.48);
}
.wowbook-horizontal.wowbook-thumbnails {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wowbook-vertical .wowbook-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
}
#thumbs_type,
#thumbs_position,
#thumbs_size {
  text-align: center;
}
#thumbs_position button {
  width: 49%;
}
#zoom-feature {
  background: #ffffff url("../images/zoom.jpg") no-repeat;
  background-size: 200% 100%;
}

#zoom-feature2 {
  background-color: white;
  background-image: url("../images/zoom.jpg");
  background-size: 200% 100%;
  background-position: right top;
  background-repeat: no-repeat;
}
.deeplinking {
  color: white;
  background: url("../images/chain.jpg") no-repeat;
  background-size: 200% 100%;
}

.deeplinking a,
.deeplinking a:active,
.deeplinking a:visited {
  color: #f8f8f8;
  text-decoration: underline;
}
.wowbook-right .deeplinking {
  background-position: top right;
}
.wowbook-page .feature.numbering {
  background: url("../images/numbering.png") #ffffff no-repeat;
  background-size: 100% 100%;
}


.wowbook-page .feature.numbering .wowbook-page-number {
  text-indent: 100%;
  overflow: auto;
}

.wowbook-page .feature.slideshow a {
  display: block;
  text-align: center;
}
.wowbook-page .feature.flash {
  background: url("../images/flash.png") #ffffff no-repeat;
  background-size: 200% 100%;
  padding-top: 42%;
  /* 170px/400px */

}

.feature.flash-demo {
  background: url("../images/flash.png") #ffffff no-repeat;
  background-position: top right;
  background-size: 200% 100%;
  padding-top: 25%;
  text-align: center;
  line-height: 2em;
  font-size: 1.2em;
}
.more {
  background: url("../images/more.png") #ffffff no-repeat;
  background-size: 200% 100%;
  padding-top: 30px;
}
.more h1 {
  display: none;
}
.more ul {
  margin-left: 1em;
}
.more li {
  margin-bottom: 0.7em;
}
.last_cover {
  padding: 0;
}
.wowbook-right .more {
  background-position: top right;
}
