<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    
    <type name="Magento\Customer\Api\Data\CustomerInterface">
        <plugin name="Shatchi_TradeAccount_CustomerPlugin"
                type="Shatchi\TradeAccount\Plugin\Customer\CustomerPlugin"
                sortOrder="10" />
    </type>
    <!-- This is for add Custom Attributes -->
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="shatchi_tradeaccount_createpost" type="Shatchi\TradeAccount\Plugin\Customer\CreatePostPlugin"/>
    </type>
</config>
